{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <section >
        <h1 id="tab-title">Usuários Cadastrados</h1>
        <table id="tabela">
            <thead id="coluns-usuario">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody >
                {% for usuario in usuarios %}
                    <tr id="tab-cont">
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.idade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}